@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@media (max-width: 800px) {
  .nav__menu {
    display: none; } }

.nav__menu {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  transition: 0.8s;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 2;
  width: 100%;
  height: 100px; }
  .nav__menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0; }
  .nav__menu li {
    display: block;
    padding-right: 10px; }
    .nav__menu li img {
      padding-top: 15px; }
  .nav__menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #2e2b36; }
  .nav__menu a:hover {
    text-decoration: none;
    color: white;
    background-color: #2e2b36; }

.nav__active {
  text-decoration: none;
  color: white !important;
  background-color: #2e2b36; }

.nav__logo {
  padding: 0 20px 0 0; }

.nav__dropdown:hover ul {
  display: block; }

.nav__dropdown li {
  padding: 10px 100px 10px 0px;
  background-color: #2e2b36; }
  .nav__dropdown li a {
    color: white;
    font-size: 15px; }
  .nav__dropdown li a:hover {
    color: #979fa3; }

ul.nav__dropdown__content {
  display: none;
  position: absolute;
  padding: 0;
  margin-top: 10px; }

.classes {
  position: relative;
  padding-top: 50px;
  background-color: #ececec;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .classes__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    .classes__header h2 {
      margin-bottom: 20px; }
    .classes__header span {
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 30px; }
  .classes__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .classes__content__block {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
      min-width: 400px; }
    .classes__content__image {
      flex: 1;
      height: 400px;
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover; }
      .classes__content__image__1 {
        background-image: url(./images/y086.jpg); }
      .classes__content__image__2 {
        background-image: url(./images/y080.jpg); }
      .classes__content__image__3 {
        background-image: url(./images/y006.jpg); }
      .classes__content__image__4 {
        background-image: url(./images/y093.jpg); }
    .classes__content__text {
      flex: 1;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #2e2b36;
      color: white; }
      .classes__content__text h3 {
        width: 80%;
        align: left;
        margin-bottom: 15px;
        line-height: 34px; }
      .classes__content__text span {
        width: 80%;
        color: white;
        align: left; }
    .classes__content__images {
      width: 25%; }
  .classes__footer {
    padding: 50px;
    display: flex;
    justify-content: center; }

.timetable {
  position: relative;
  width: 100%;
  background-color: #fbfafa;
  display: flex;
  justify-content: center; }
  .timetable__left {
    width: 67%;
    max-width: 800px;
    padding: 25px 25px 50px 25px; }
    .timetable__left__header h2 {
      margin-bottom: 30px; }
    .timetable__left__right {
      width: 33%;
      max-width: 400px; }
  .timetable .calendar {
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.016) 0px 2px 0px 0px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    height: 720px;
    line-height: 30px;
    width: 780px; }
    .timetable .calendar__month {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      padding: 25px; }
      .timetable .calendar__month__corner {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 5px 10px;
        border-left-color: #e8e8e8;
        border-left-style: solid;
        border-left-width: 1px;
        border-bottom-color: #e8e8e8;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-left-radius: 6px; }
        .timetable .calendar__month__corner:hover {
          background-color: #ececec; }
        .timetable .calendar__month__corner span {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          color: #979fa3; }
    .timetable .calendar h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 700;
      margin: 30px 0 20px 0;
      padding: 20px 0 0 0; }
    .timetable .calendar__table__head {
      display: flex; }
    .timetable .calendar__table__row {
      display: flex; }
    .timetable .calendar__day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 80px;
      background-color: #fbfafa;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: #4d4d4d;
      border-radius: 25px; }
      .timetable .calendar__day__head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 80px;
        background-color: #fbfafa;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #4d4d4d;
        border-radius: 25px;
        font-weight: 700; }
      .timetable .calendar__day__null {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 80px;
        background-color: #fbfafa;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #cacaca;
        border-radius: 25px; }
        .timetable .calendar__day__null:hover {
          background-color: #eeeeee; }
      .timetable .calendar__day__event {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 80px;
        background-color: #fbfafa;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #4d4d4d;
        border-radius: 25px;
        position: relative; }
        .timetable .calendar__day__event:hover {
          background-color: #a9a9a9;
          color: white; }
          .timetable .calendar__day__event:hover:after {
            background-color: #eeeeee; }
        .timetable .calendar__day__event:after {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          bottom: 6px;
          background-color: #a9a9a9;
          border-radius: 50%; }
      .timetable .calendar__day__today {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 80px;
        background-color: #a9a9a9;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: white;
        border-radius: 25px; }
      .timetable .calendar__day:hover {
        background-color: #eeeeee; }
    .timetable .calendar__events {
      width: 40%;
      padding: 40px;
      border-left-color: #e8e8e8;
      border-left-style: solid;
      border-left-width: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #171c24; }
      .timetable .calendar__events h6 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 3px;
        margin: 0 0 14px 0; }
      .timetable .calendar__events h3 {
        margin: 0 auto 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        color: #979fa3;
        border: 1px solid;
        border-radius: 50px;
        border-color: #979fa3; }
      .timetable .calendar__events__event {
        width: 100%;
        display: flex;
        padding: 25px 0 5px 0;
        border-top-color: #efefef;
        border-top-style: solid;
        border-top-width: 1px; }
        .timetable .calendar__events__event:hover {
          background-color: #eeeeee; }
        .timetable .calendar__events__event img {
          padding-right: 10px;
          width: 65px;
          height: 65px; }
        .timetable .calendar__events__event__info {
          display: flex;
          flex-direction: column; }
          .timetable .calendar__events__event__info span {
            margin: 0;
            color: #979fa3;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            line-height: 12px; }
          .timetable .calendar__events__event__info a {
            text-decoration: none;
            color: #494949;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: 700; }

.gallery {
  position: relative;
  padding-top: 50px;
  background-color: #fbfafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .gallery__headder {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    .gallery__headder h2 {
      margin-bottom: 20px; }
    .gallery__headder span {
      color: #5e5e5e;
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 30px; }
  .gallery__content {
    display: flex;
    flex-wrap: wrap; }
    .gallery__content__image {
      flex: 1;
      min-width: 150px;
      position: relative;
      display: inline-block;
      overflow: hidden; }
      .gallery__content__image:hover img {
        transition: all 2s ease-in-out;
        transform: scale(1.2); }
      .gallery__content__image img {
        width: 100%;
        display: block;
        transition: all 2s ease-in-out; }
      .gallery__content__image__overlay {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 10;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-position: center;
        background-image: url(./images/symbol-plus.svg); }

.gallery__content__image:hover .gallery__content__image__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.footer {
  position: relative;
  width: 100%;
  background-color: #2e2b36;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 50px 20px 20px 20px; }
    .footer__top__column {
      flex: 1;
      padding: 10px;
      min-width: 200px; }
      .footer__top__column a {
        font-size: 17px;
        text-decoration: none;
        color: white; }
        .footer__top__column a:hover {
          color: #5e5e5e; }
      .footer__top__column p {
        margin-top: 15px; }
      .footer__top__column span {
        font-size: 13px;
        display: inline-block;
        margin-bottom: 15px;
        line-height: 20px; }
      .footer__top__column h4 {
        margin-bottom: 20px; }
      .footer__top__column__social {
        margin-top: 20px; }
        .footer__top__column__social img {
          width: 25px; }
          .footer__top__column__social img:hover {
            cursor: pointer; }
      .footer__top__column__newsletter {
        display: flex;
        flex-direction: column; }
        .footer__top__column__newsletter__input {
          max-width: 250px;
          border: 1px solid #979fa3;
          border-left: 5px solid #979fa3;
          padding: 13px;
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 15px;
          color: #979fa3; }
        .footer__top__column__newsletter__button {
          width: 120px;
          background-color: #979fa3;
          border: none;
          color: white;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer; }
      .footer__top__column__gallery {
        display: flex;
        flex-wrap: wrap; }
        .footer__top__column__gallery__image {
          width: 33%;
          position: relative;
          display: inline-block;
          overflow: hidden; }
          .footer__top__column__gallery__image:hover img {
            transition: all 2s ease-in-out;
            transform: scale(1.2); }
          .footer__top__column__gallery__image img {
            width: 100%;
            display: block;
            transition: all 2s ease-in-out;
            margin: 1px;
            margin-bottom: 0; }
        .footer__top__column__gallery__overlay {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #000;
          z-index: 100;
          opacity: 0.5; }
  .footer__bottom {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #615f69;
    border-top: 1px solid #615f69; }
    .footer__bottom span {
      font-size: 13px; }
    .footer__bottom__left {
      display: flex;
      align-items: center;
      padding: 20px; }
      .footer__bottom__left img {
        padding-right: 20px; }
    .footer__bottom__right {
      display: flex;
      align-items: center;
      padding: 20px; }

.footer__top__column__gallery__image:hover .footer__top__column__gallery__overlay {
  display: block; }

body {
  margin: 0; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 400;
  color: #2e2b36;
  margin: 0; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #2e2b36;
  margin: 0; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0; }

span {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 30px; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin: 0; }

.head {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-image: url(./images/art-home-yora.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .head__overlay {
    width: 95%;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end; }
  .head__greeting {
    width: 410px;
    height: 100%;
    padding: 200px 25px 25px 80px;
    display: flex;
    flex-direction: column;
    position: absolute; }
    .head__greeting span {
      font-size: 20px;
      font-weight: 400;
      color: #2e2b36;
      margin: 20px 0; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2b36;
  border: 1.5px solid #2e2b36; }
  .button a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2e2b36;
    text-decoration: none;
    padding: 15px 30px; }
  .button:hover {
    background-color: #2e2b36; }
    .button:hover a {
      color: white; }

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 50px 0 30px 0;
  margin-top: 100vh;
  background-color: white; }
  .welcome__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px; }
    .welcome__content__left {
      width: 27%;
      padding: 15px; }
    .welcome__content__right {
      width: 67%;
      padding: 15px;
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      color: #5e5e5e; }

.studio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(./images/y048.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 100; }
  .studio__title {
    width: 430px;
    height: 200px;
    background-color: #2e2b36;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .studio__title h1 {
      text-align: center;
      color: white; }
    .studio__title h3 {
      padding-top: 15px;
      color: #a9a9a9; }

.teachers {
  position: relative;
  width: 100%;
  background-color: #fbfafa;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .teachers__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px; }
    .teachers__header span {
      padding-top: 20px;
      color: #5e5e5e; }
  .teachers__teachers {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .teachers__teacher {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .teachers__teacher img {
      transition: all 1s ease-in-out;
      height: 150px;
      border-radius: 50%; }
      .teachers__teacher img:hover {
        transform: scale(1.1); }
    .teachers__teacher__social img {
      height: 30px; }
    .teachers__teacher a {
      text-decoration: none; }
    .teachers__teacher h4 {
      color: black;
      padding-top: 10px; }
    .teachers__teacher span {
      font-size: 15px;
      color: #a9a9a9;
      padding-bottom: 10px;
      text-align: center; }
  .teachers__button {
    margin: 50px; }

.offer {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .offer__left {
    flex: 1;
    min-width: 300px;
    padding: 50px;
    color: white;
    background-color: #2e2b36; }
    .offer__left h3 {
      font-size: 34px;
      margin-bottom: 30px; }
    .offer__left span {
      display: block;
      margin-bottom: 30px; }
    .offer__left__list {
      display: flex;
      flex-wrap: wrap; }
      .offer__left__list__half {
        flex: 1;
        min-width: 200px; }
        .offer__left__list__half ul {
          padding: 0;
          margin: 0; }
        .offer__left__list__half li {
          font-family: 'Lato', sans-serif;
          font-size: 17px;
          line-height: 30px;
          padding: 5px;
          margin-left: 20px;
          list-style-image: url(./images/arrow-circle-15.png); }
  .offer__right {
    flex: 1;
    min-width: 500px;
    background-color: #ececec; }

