<footer class="footer">
    <div class="footer__top">
        <div class="footer__top__column">
            <h4>Contact</h4>
            <p>hello@dream-theme.com</p>
            <p>+8909868439</p>
            <p>SoHo 94 Broadway St New York, NY 1001</p>
            <div class="footer__top__column__social">
                <img src="./assets/images/fb_fill.png" alt="Facebook">
                <img src="./assets/images/twitter_fill.png" alt="Twitter">
                <img src="./assets/images/ig_fill.png" alt="Instagram">
                <img src="./assets/images/in_fill.png" alt="LinkedIn">
            </div>
        </div>
        <div class="footer__top__column">
            <h4>Recent posts</h4>
            <a href="#"><p>Lorem ipsum elit nulla emet</p></a>
            <span>September 20, 2019</span>
            <a href="#"><p>Why lorem ipsum is awesome</p></a>
            <span>September 20, 2019</span>
            <a href="#"><p>Natoque penatibus – etiam magnis dis parturient</p></a>
            <span>September 20, 2019</span>
        </div>
        <div class="footer__top__column">
            <h4>Newsletter</h4>
            <p>Aliquam eget risus vitae lorem. Mauris varius interdum erat, et ultrices justo imperdiet nec.</p>
            <div class="footer__top__column__newsletter">
                    <input type="text" class="footer__top__column__newsletter__input" value="E-mail*">
                    <input type="button" class="footer__top__column__newsletter__button" value="Submit">
            </div>
        </div>
        <div class="footer__top__column">
            <h4>Recent photos</h4>
            <div class="footer__top__column__gallery">
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y080.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y0009.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y086.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y091.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y007.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y052.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y051.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y028.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y022.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y078.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y082.jpg" alt="Gallery Image">
                </div>
                <div class="footer__top__column__gallery__image">
                    <div class="footer__top__column__gallery__overlay"></div>
                    <img src="./assets/images/y011.jpg" alt="Gallery Image">
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom__left">
            <img src="./assets/images/l-b-small.webp" alt="Yoga logo">
            <span>Relax. Breathe. Be Mindful.</span>
        </div>
        <div class="footer__bottom__right">
            <span>© Seven Yoga Studio 2019-2020. All rights reserved.</span>
        </div>
    </div>

</footer>


