<nav>
    <div class="nav__menu">
        <ul>
            <li><img src="./assets/images/logo-main-small.webp" class="nav__logo" alt=""></li>
            <li>
                <a class="nav__active" href="#">Home</a>
            </li>
            <li class="nav__dropdown">
                <a href="#">Our studio</a>
                <ul class="nav__dropdown__content">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Testimonialas</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Our partners</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Yoga Classes</a>
            </li>
            <li>
                <a href="#">Schedule</a>
            </li>
            <li>
                <a href="#">Prices</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>