<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}} </title>
    <link rel="stylesheet" href="./assets/app.css">
</head>
<body>
    {{> partials/topnav }}

    <div class="head">        
    </div>
    <div class="head__overlay">
        <div class="head__greeting">
            <h1>Relax. Breathe.</h1>
            <h1>Be Mindful.</h1>
            <span>A yoga class for every body, every style, every day.</span>
                <div class="button">
                    <a href="#">Welcome to Seven Yoga studio</a>
                </div>
        </div>
    </div>
    <div class="welcome">
        <div class="welcome__left">
            <h1>Welcome To The7 Yoga Studio</h1>
        </div>
        <div class="welcome__right">
            <span>Ut egestas augue ac molestie pharetra. Sed porta dui quis imperdiet consectetur. Vivamus tincidunt, turpis non pulvinar scelerisque, nunc arcu blandit diam, ac convallis lectus sem in odio. Nulla tincidunt tincidunt sem, sit amet condimentum ex mollis rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi elit leo, malesuada sit amet pretium eget, tincidunt in sem. Vivamus purus dolor, auctor iaculis leo in, porta semper lorem. Nullam rhoncus euismod risus vel dignissim. Etiam sodales ante dui. Morbi pellentesque rutrum scelerisque. Sed auctor luctus nisl dignissim volutpat. Praesent in tortor hendrerit, interdum elit blandit, volutpat nibh. Cras rutrum est et velit semper sodales. Nam nec aliquet mauris.
            </span>
        </div>
    </div>
    <div class="classes">
        <div class="classes__header">
            <h2>Choose your class</h2>
            <span>Donec eros scelerisque feugiat neque eu bibendum volutpat fringilla venenatis</span>
        </div>
        <div class="classes__content">
            <div class="classes__content__image classes__content__image__1"></div>
            <div class="classes__content__text">
                <h3>Pranayama Yoga</h3>
                <span>Fusce sed maximus est, et viverra mauris. Phasellus a lorem ipsum dolor cursus elit. Praesent varius sem id felis scelerisque vehicula.</span>
            </div>
            <div class="classes__content__image classes__content__image__2"></div>
            <div class="classes__content__text">
                <h3>Stretching</h3>
                <span>Duis ornare, est at lorem ipsum – lobortis mollis, felis libero mollis orci, vitae congue neque lectus vel neque.</span>
            </div>
            <div class="classes__content__text">
                <h3>Meditations</h3>
                <span>Duis lobortis mollis, felis libero mollis ornare, est at lobortis mollis, felis libero mollis orci, vitae congue neque lectus vel neque.</span>
            </div>
            <div class="classes__content__image classes__content__image__3"></div>
 <div class="classes__content__text">
                <h3>Pilates</h3>
                <span>Duis ornare, est at lobortis mollis, felis vlibero mollis orci, vitae congue neque lectus vel neque.</span>
            </div>
            <div class="classes__content__image classes__content__image__4"></div>
        </div>
        <div class="classes__footer"></div>
    </div>
    </body>
</html>