@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'nav.scss';
@import 'classes.scss';
@import 'timetable.scss';
@import 'gallery.scss';


body {
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: $purple;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: $purple;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 30px;
}

.head {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    background-image: url('../images/art-home-yora.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        &__overlay {
            width: 95%;
            max-width: 1800px;
            display: flex;
            justify-content: flex-end;
        } 
        &__greeting {
            width: 410px;
            height: 100%;
            padding: 200px 25px 25px 80px;
            display: flex;
            flex-direction: column;
            position: absolute;
                span {
                    font-size: 20px;
                    font-weight: 400;
                    color: $purple;
                    margin: 20px 0;
                }
        }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple;
    border: 1.5px solid $purple;
        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: $purple;
            text-decoration: none;
            padding: 15px 30px;
        }
        &:hover {
            background-color: $purple;
                a  {
                    color: white;
                }

        }
    
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 50px 0 30px 0;
    margin-top: 100vh;
    background-color: white;
        &__content {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1200px;
                &__left {
                    width: 27%;
                    padding: 15px;
                }
                &__right {
                    width: 67%;
                    padding: 15px;
                    font-family: 'Lato', sans-serif;
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $gray_1;
                }
        }       
}




.studio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url('../images/y048.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 100;
    &__title {
        width: 430px;
        height: 200px;
        background-color: $purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            text-align: center;
            color: white;
        }
        h3 {
            padding-top: 15px;
            color: $gray_2;
        }
    }

}

.teachers {
    position: relative;
    width:100%;
    background-color: $gray_light;
    display: flex;
    flex-direction: column;
    align-items: center;
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top:50px;
            padding-bottom: 50px;
                span {
                    padding-top:20px;
                    color: $gray_1;
                }
        }
        &__teachers {
            width: 100%;
            max-width: 1000px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__teacher {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            img {
                transition: all 1s ease-in-out;
                height: 150px;
                border-radius: 50%;
                &:hover {
                    transform: scale(1.1);
                }
            }
            &__social {
                img {
                    height: 30px;
                }
            }
            a {
                text-decoration: none;
            }
            h4 {
                color: black;
                padding-top:10px;

            }
            span {
                font-size: 15px;
                color: $gray_2;
                padding-bottom: 10px;
                text-align: center;

            }

        }
        &__button {
            margin:50px;
        }
}

.offer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &__left {
        flex: 1;
        min-width: 300px;
        padding: 50px;
        color: white;
        background-color: $purple;
        h3 {
            font-size: 34px;
            margin-bottom: 30px;
        }
        span {
            display: block;
            margin-bottom: 30px;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            &__half {
                flex:1;
                min-width: 200px;
                ul {
                    padding:0;
                    margin:0;
                }
                li {
                    font-family: 'Lato', sans-serif;
                    font-size: 17px;
                    line-height: 30px;
                    padding: 5px;
                    margin-left: 20px;
                    list-style-image: url('../images/arrow-circle-15.png')
                }
            }
        }
    }
    &__right {
        flex: 1;
        min-width: 500px;
        background-color: $purple_light;
    }
}