@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'nav.scss';

body {
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: $purple;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: $purple;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 30px;
}

.head {
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    background-image: url('../images/art-home-yora.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        &__overlay {
            width: 95%;
            max-width: 1800px;
            display: flex;
            justify-content: flex-end;
        } 
        &__greeting {
            width: 410px;
            height: 100%;
            padding: 200px 25px 25px 80px;
            display: flex;
            flex-direction: column;
            position: absolute;
                span {
                    font-size: 20px;
                    font-weight: 400;
                    color: $purple;
                    margin: 20px 0;
                }
        }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple;
    border: 1.5px solid $purple;
        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: $purple;
            text-decoration: none;
            padding: 15px 30px;
        }
        &:hover {
            background-color: $purple;
                a  {
                    color: white;
                }

        }
    
}

.welcome {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 50px 0 30px 0;
    margin-top: 100vh;
    background-color: white;
        &__content {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1200px;
                &__left {
                    width: 27%;
                    padding: 15px;
                }
                &__right {
                    width: 67%;
                    padding: 15px;
                    font-family: 'Lato', sans-serif;
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $grey_1;
                }
        }       
}

.classes {
    position: relative;
    padding-top: 50px;
    background-color: $purple_light;
    width: 100%;
    display: flex;
    flex-direction: column;
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
                h2 {
                    margin-bottom: 20px;
                }
                span {
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 400;
                    margin-bottom: 30px; 
                }
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
                &__image {
                    width: 25%;
                    height: 350px;
                    background-position-x:50%;
                    background-position-y:50%;
                    background-size: cover;
                        &__1 {
                            background-image: url('../images/y086.jpg');                 
                        }
                        &__2 {
                            background-image: url('../images/y080.jpg');
                        }
                        &__3 {
                            background-image: url('../images/y006.jpg');
                        }
                        &__4 {
                            background-image: url('../images/y093.jpg');
                        }
                }
                &__text {
                    width: 25%;
                   // padding: 20px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $purple;
                    color: white;
                        h3 {
                            width: 80%;
                            align: left;
                            margin-bottom: 15px;
                            line-height: 34px;
                        }
                        span {
                            width: 80%;
                            color: white;
                            align: left;
                        }
                }
                &__images {
                    width: 25%;
                }
        }
        &__footer {
            padding: 50px;
            display: flex;
            justify-content: center;
        }
}

.timetable {
    position: relative;
    width:100%;
    background-color: $grey_light;
    display: flex;
    justify-content: center;
        &__left {
            width: 67%;
            max-width: 800px;
            padding: 25px 25px 50px 25px;
            &__header {
                h2 { 
                   margin-bottom: 30px; 
            }
            
        }
        &__right {
            width: 33%;
            max-width: 400px;
        }
}

.calendar {
    border-color:rgb(232, 232, 232);
    border-style:solid;
    border-width:1px;                
    box-shadow:rgba(0, 0, 0, 0.016) 0px 2px 0px 0px;
    display:flex;
    font-size:17px;
    font-weight:400;
    height:720px;
    line-height:30px;
    width:780px;      
        &__month {
            position: relative;
            display: flex;
            flex-direction: column;;
            align-items: center;
            width: 60%;
            padding: 25px;
            &__corner {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border-left-color:rgb(232, 232, 232);
                border-left-style:solid;
                border-left-width:1px;
                border-bottom-color:rgb(232, 232, 232);
                border-bottom-style:solid;
                border-bottom-width:1px;
                border-bottom-left-radius: 6px;
                    &:hover {
                        background-color: $purple_light;
                    }
                    span {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: rgb(151, 159, 163);
                    }
            }
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 700;
            margin: 30px 0 20px 0;
            padding: 20px 0 0 0;
        }
        &__table {
            &__head {
                display: flex;
            }
            &__row {
                display: flex;
            }
        }
        &__day { 
            @include day_box ($grey_light, #4d4d4d);
            &__head {
                @include day_box ($grey_light, #4d4d4d);
                font-weight: 700;
            }
            &__null {
                @include day_box ($grey_light, #cacaca);
                &:hover {
                    background-color: #eeeeee;  
                }
            }
            &__event {
                @include day_box ($grey_light, #4d4d4d);
                position: relative;
                &:hover {
                    background-color: $grey_2;
                    color: white;
                    &:after{
                        background-color: #eeeeee;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    bottom: 6px;
                    background-color: $grey_2;
                    border-radius: 50%;
                }
            }
            &__today {
                @include day_box ($grey_2, white);
            }
            &:hover {
                background-color: #eeeeee;
            }
        }
        &__events {
            width: 40%;
            padding: 40px;
            border-left-color:rgb(232, 232, 232);
            border-left-style:solid;
            border-left-width:1px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #171c24;
                h6 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 3px;
                    margin: 0 0 14px 0;
                }
                h3 {
                    margin: 0 auto 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    color: #979fa3;
                    border: 1px solid;
                    border-radius: 50px;
                    border-color: #979fa3;
                }
                &__event {
                    width: 100%;
                    display: flex;
                    padding: 25px 0 5px 0;
                    border-top-color:rgb(239, 239, 239);
                    border-top-style:solid;
                    border-top-width:1px;
                        &:hover {
                            background-color: #eeeeee;
                        }
                        img {
                            padding-right: 10px;
                            width: 65px;
                            height: 65px;
                        }
                        &__info {
                            display: flex;
                            flex-direction: column;
                            span {
                                margin: 0;
                                color: $grey_3;
                                font-family: 'Lato', sans-serif;
                                font-size: 12px;
                                line-height: 12px;
                            }
                            a {
                                text-decoration: none;
                                color: #494949;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 13px;
                                font-weight: 700;
                            }
                        }

                }
        }
    }
}