@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    position: fixed;
    height: 80px;
}
.nav__menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__menu li {
    display: block;
    padding-right: 10px
}

.nav__menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #2e2b36  ;
}

.nav__menu a:hover {
    text-decoration: none;
    color: white;
    background-color: #2e2b36;
}

.nav__logo {
    padding: 0 20px 0 0;
}

ul.nav__dropdown__content {
    display: none;
    position: absolute;
    padding: 0;
    margin-top: 10px;
}

.nav__dropdown:hover ul 
{
    display: block;
}

.nav__dropdown li{
    padding: 10px 100px 10px 0px;
    background-color: #2e2b36;
}

.nav__dropdown li a{
    color: white;
    font-size: 15px;
}

.nav__dropdown li a:hover{
    color: #979fa3;
}


