.classes {
    position: relative;
    padding-top: 50px;
    background-color: $purple_light;
    width: 100%;
    display: flex;
    flex-direction: column;
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
                h2 {
                    margin-bottom: 20px;
                }
                span {
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 400;
                    margin-bottom: 30px; 
                }
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
                &__block{
                    display: flex;
                    flex:1;
                    flex-wrap: wrap;
                    flex-direction: row;
                    min-width: 400px;
                }
                &__image {
                    flex:1;
                    height: 400px;
                    background-position-x:50%;
                    background-position-y:50%;
                    background-size: cover;
                        &__1 {
                            background-image: url('../images/y086.jpg');                 
                        }
                        &__2 {
                            background-image: url('../images/y080.jpg');
                        }
                        &__3 {
                            background-image: url('../images/y006.jpg');
                        }
                        &__4 {
                            background-image: url('../images/y093.jpg');
                        }
                }
                &__text {
                    flex:1;
                   // padding: 20px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $purple;
                    color: white;
                        h3 {
                            width: 80%;
                            align: left;
                            margin-bottom: 15px;
                            line-height: 34px;
                        }
                        span {
                            width: 80%;
                            color: white;
                            align: left;
                        }
                }
                &__images {
                    width: 25%;
                }
        }
        &__footer {
            padding: 50px;
            display: flex;
            justify-content: center;
        }
}