.nav {
    &__menu {
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        top: 0;
        transition: 0.8s;
        background-color: rgba(255, 255, 255, 0.35);
        z-index: 2;
        height: 100px;
        width: 100%;
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            margin: 0;

        }
        li {
            display: block;
            padding-right: 10px;
                img {
                    padding-top: 15px;
                }
        }
        a {
            padding: 10px 20px;
            text-decoration: none;
            color: $purple;
        }
        a:hover {
            text-decoration: none;
            color: white;
            background-color: $purple;
        }
    }

    &__active {
        text-decoration: none;
        color: white !important;
        background-color: $purple;
    }

    &__logo {
        padding: 0 20px 0 0;
    }
    &__dropdown {
        &:hover {
            ul {
                display: block;
            }
        } 
        li  {
            padding: 10px 100px 10px 0px;
            background-color: $purple;
            a  {
                color: white;
                font-size: 15px;
                }
            a:hover{
                    color: #979fa3;
                }
        }   
    }
}

ul.nav{
&__dropdown {
    &__content {
        display: none;
        position: absolute;
        padding: 0;
        margin-top: 10px;
    }
}
}