.timetable {
    position: relative;
    width:100%;
    background-color: $gray_light;
    display: flex;
    justify-content: center;
        &__left {
            width: 67%;
            max-width: 800px;
            padding: 25px 25px 50px 25px;
            &__header {
                h2 { 
                   margin-bottom: 30px; 
            }
            
        }
        &__right {
            width: 33%;
            max-width: 400px;
        }
}

.calendar {
    border-color:rgb(232, 232, 232);
    border-style:solid;
    border-width:1px;                
    box-shadow:rgba(0, 0, 0, 0.016) 0px 2px 0px 0px;
    display:flex;
    font-size:17px;
    font-weight:400;
    height:720px;
    line-height:30px;
    width:780px;      
        &__month {
            position: relative;
            display: flex;
            flex-direction: column;;
            align-items: center;
            width: 60%;
            padding: 25px;
            &__corner {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border-left-color:rgb(232, 232, 232);
                border-left-style:solid;
                border-left-width:1px;
                border-bottom-color:rgb(232, 232, 232);
                border-bottom-style:solid;
                border-bottom-width:1px;
                border-bottom-left-radius: 6px;
                    &:hover {
                        background-color: $purple_light;
                    }
                    span {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: rgb(151, 159, 163);
                    }
            }
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 700;
            margin: 30px 0 20px 0;
            padding: 20px 0 0 0;
        }
        &__table {
            &__head {
                display: flex;
            }
            &__row {
                display: flex;
            }
        }
        &__day { 
            @include day_box ($gray_light, #4d4d4d);
            &__head {
                @include day_box ($gray_light, #4d4d4d);
                font-weight: 700;
            }
            &__null {
                @include day_box ($gray_light, #cacaca);
                &:hover {
                    background-color: #eeeeee;  
                }
            }
            &__event {
                @include day_box ($gray_light, #4d4d4d);
                position: relative;
                &:hover {
                    background-color: $gray_2;
                    color: white;
                    &:after{
                        background-color: #eeeeee;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    bottom: 6px;
                    background-color: $gray_2;
                    border-radius: 50%;
                }
            }
            &__today {
                @include day_box ($gray_2, white);
            }
            &:hover {
                background-color: #eeeeee;
            }
        }
        &__events {
            width: 40%;
            padding: 40px;
            border-left-color:rgb(232, 232, 232);
            border-left-style:solid;
            border-left-width:1px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #171c24;
                h6 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 3px;
                    margin: 0 0 14px 0;
                }
                h3 {
                    margin: 0 auto 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    color: #979fa3;
                    border: 1px solid;
                    border-radius: 50px;
                    border-color: #979fa3;
                }
                &__event {
                    width: 100%;
                    display: flex;
                    padding: 25px 0 5px 0;
                    border-top-color:rgb(239, 239, 239);
                    border-top-style:solid;
                    border-top-width:1px;
                        &:hover {
                            background-color: #eeeeee;
                        }
                        img {
                            padding-right: 10px;
                            width: 65px;
                            height: 65px;
                        }
                        &__info {
                            display: flex;
                            flex-direction: column;
                            span {
                                margin: 0;
                                color: $gray_3;
                                font-family: 'Lato', sans-serif;
                                font-size: 12px;
                                line-height: 12px;
                            }
                            a {
                                text-decoration: none;
                                color: #494949;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 13px;
                                font-weight: 700;
                            }
                        }

                }
        }
    }
}